:root {
  font-size: 10px;
  --primary: #12100cb3;
  --secondary: #12100c;
  --gold: #ffae33;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
body {
  background-color: #f5f3f4;
  font-size: 1.8rem;
  color: var(--primary);
}
.header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.05rem;
    .logo,
    .logo img {
      height: 88px;
      width: 305px;
    }
    .nav-links {
      margin: 0;
      padding: 0 2rem 0 5rem;
      max-width: 600px;
      flex: 1;
      display: flex;
      justify-content: space-between;
      li {
        display: inline-block;
        a {
          color: #12100cb3;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: #12100c;
          }
        }
      }
    }
  }

  .showcase {
    .chowcase-inside {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      overflow: hidden;
      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        .texts {
          .showcase-title {
            font-size: 5.5rem;
            color: var(--secondary);
          }
          .showcase-text {
            margin-top: 4rem;
            margin-bottom: 5rem;
          }
          .showcase-buttons {
            .register {
              padding: 2rem 4rem;
              border-radius: 1.6rem;
              background-color: var(--gold);
              color: var(--secondary);
              font-size: 2.3rem;
              font-weight: 700;
              transition: all 0.3s ease-in-out;
              &:hover {
                background-color: var(--secondary);
                color: var(--gold);
              }
            }
            .all-courses {
              padding: 2rem 4rem;
              border-radius: 1.6rem;
              //   background-color: var(--secondary);
              //   color: var(--gold);
              font-size: 2.3rem;
              font-weight: 700;
              transition: all 0.3s ease-in-out;
              &:hover {
                box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
      }
      .right {
        position: relative;
        width: 100%;
        --percent: 100%;
        height: 50rem;
        .background {
          height: calc(var(--percent) + 5rem);
          width: calc(var(--percent) + 24rem);
          position: absolute;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("../img/showcase-bg.png");
          right: -90px;
          z-index: -1;
        }
      }
    }
  }
}

.connect-button {
  color: #fff;
  background-color: #12100c;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    color: #12100c;
    background-color: #ffae33;
  }
}

.superiorities {
  margin-top: 10rem;
  .superiorities__inside-title {
    text-align: center;
    color: var(--secondary);
    font-weight: 700;
    font-size: 3.5rem;
  }
  .superiorities__inside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .superiorities__background-wrapper {
      position: relative;
      --percent-2: 100%;
      .background {
        position: absolute;
        background-image: url("../img/superiorities-bg.png");
        height: calc(var(--percent-2) + 6rem);
        width: calc(var(--percent-2));
        background-size: cover;
        background-repeat: no-repeat;
        top: -11rem;
        z-index: -1;
      }
    }
    .superiorities__inside--text {
      padding-top: 12rem;
      padding-bottom: 12rem;
      padding-left: 11.85rem;
      color: var(--secondary);
      & > div:not(:first-child) {
        margin-top: 2rem;
      }
    }
  }
}

.our-courses {
  .our-courses__title {
    text-align: center;
    color: var(--secondary);
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }
  .our-courses__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    align-items: center;

    & > div {
      padding: 4rem;
      background-color: #fff;
      border-radius: 2rem;
      h3 {
        text-align: center;
        color: var(--secondary);
        font-weight: 700;
        font-size: 2.4rem;
        margin-bottom: 3.6rem;
      }
      span {
        display: block;
        padding: 0.7rem 2rem;
        background-color: #f9f9f9;
        border-radius: 1.2rem;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        img {
          width: 3rem;
        }
        &:hover {
          background-color: #dfdddd;
          cursor: pointer;
        }
        p {
          display: inline-block;
          margin-left: 2rem;
          margin-bottom: 0;
          color: var(--secondary);
        }
      }
      span:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}

.partners {
  margin-top: 15rem;
  .partners__title {
    text-align: center;
    color: var(--secondary);
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 6rem;
  }
  .partners__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 10rem;
        min-height: 6rem;
        transition: 0.3s ease-in;
        filter: grayscale(100%);
      }
      img:hover {
        filter: grayscale(0%);
      }
    }
  }
}

.register {
  margin-top: 20rem;

  .register-inside {
    padding: 6rem;
    background-color: var(--gold);
    border-radius: 1.6rem;
    .register__title {
      text-align: center;
      color: var(--secondary);
      font-weight: 700;
      font-size: 3.5rem;
      margin-bottom: 4rem;
    }
    form {
      text-align: center;
      div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        input,
        #course {
          padding: 2rem;
          border-radius: 1.6rem;
          border: none;
          outline: none;
        }
      }
      .connect-button {
        margin-top: 4rem;
        display: inline-block;
        padding: 1.2rem 7rem;
        border: none;
        &:hover {
          background-color: #fff;
          color: #12100c;
        }
      }
    }
  }
}

.footer {
  margin-top: 16.1rem;
  .footer-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .numbers a {
      &:nth-child(2) {
        margin-right: 2rem;
        margin-left: 2rem;
      }
      display: inline-block;
      font-weight: 700;
      color: var(--secondary);
    }
  }
  .footer-address {
    font-family: monospace;
  }
  .bottom {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .icons {
      a {
        display: inline-block;
        padding: 1rem;
        &:hover img {
          filter: grayscale(0%);
        }

        img {
          height: 3rem;
          width: 3rem;
          filter: grayscale(100%);
          transition: 0.3s ease;
        }
      }
      a:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }
  margin-bottom: 10rem;
}
.logo-little {
  display: none;
}
.logo-footer-circle {
  display: none;
}
.menu-icon {
  display: none;
}
.nav-links-mobile {
  max-width: 300px;
  position: fixed;
  width: 80%;
  z-index: 10000;
  height: 100vh;
  padding-top: 50px;
  background-color: #fff;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-100%);
  transition: 0.5s;
  li {
    transition: 0.5s;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 1rem;
    padding-bottom: 10px;
    a {
      display: block;
    }
    &:hover {
      background-color: #908e8e;
      cursor: pointer;
      color: #fff;
    }
  }
  li:not(:first-child) {
    margin-top: 1rem;
  }
}
@media (max-width: 992px) {
  .menu-icon {
    display: flex;
    flex-direction: column;
    width: 30px;

    position: absolute;
    z-index: 10000000;
    top: 7.9rem;
    right: 20px;

    cursor: pointer;

    span {
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: #000;
    }
    .line-2 {
      margin: 5px 0;
      width: 50%;
      transition: 0.3s ease;
    }
  }

  .nav-links-mobile.show {
    transform: translateX(0);
    & + .menu-icon .line-2 {
      transform: translateX(100%);
    }
  }

  .superiorities .superiorities__inside-title {
    margin-bottom: 40px;
  }
  .header .navbar {
    .nav-links {
      display: none;
    }
    .connect-button {
      display: none;
    }
  }
  .header .showcase .chowcase-inside {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .header .showcase .chowcase-inside .left .texts .showcase-title {
    font-size: 4rem;
  }
  .superiorities .superiorities__inside {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 575px;
  }
  .superiorities .superiorities__inside .superiorities__background-wrapper {
    order: 2;
  }
  .our-courses .our-courses__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners .partners__inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .superiorities .superiorities__inside .superiorities__inside--text {
    padding: 0;
    order: 1;
  }
  .register .register-inside form div {
    grid-template-columns: repeat(1, 1fr);
  }
  .header .showcase .chowcase-inside .right .background {
    position: static;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .superiorities
    .superiorities__inside
    .superiorities__background-wrapper
    .background {
    position: static;
    height: 100% !important;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .menu-icon {
    top: 7.8rem;
  }
  .our-courses .our-courses__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo-footer {
    display: none;
  }
  .logo-footer-circle {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 37px;
  }
  .footer .footer-inside {
    justify-content: center;
  }
  .numbers {
    text-align: center;
  }
  .footer .bottom {
    justify-content: center;
    span {
      order: 2;
      margin-top: 40px;
      color: #12100cb3;
      font-weight: 700;
    }
    a {
      margin: 0 !important;
    }
  }
}
@media (max-width: 576px) {
  .menu-icon {
    top: 5.5rem;
  }
  .superiorities .superiorities__inside {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 500px;
  }
  .header .showcase .chowcase-inside {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .register .register-inside .register__title {
    font-size: 2.5rem;
  }
  .register .register-inside form div input {
    padding: 1rem 2rem;
  }
  .register .register-inside {
    padding: 3rem;
  }
  .register .register-inside form .connect-button {
    padding: 1rem 5rem;
  }
  .partners .partners__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6rem;
  }
  .register,
  .all-courses {
    padding: 1rem 1.5rem !important;
    font-size: 1.6rem !important;
  }
  .header .showcase .chowcase-inside .left .texts .showcase-title {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .header .navbar .logo,
  .header .navbar .logo img {
    height: 41px;
    width: 206px;
  }
  .logo-large {
    display: none;
  }
  .logo-little {
    display: block;
  }
  .superiorities
    .superiorities__inside
    .superiorities__background-wrapper
    .background {
    background-size: contain;
    height: calc(var(--percent-2) - 24rem);
    background-position: center;
  }
  .superiorities .superiorities__inside-title {
    font-size: 2.5rem !important;
  }
  .showcase-buttons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .register {
      display: block;
      margin: 0 !important;
    }
    .all-courses {
      display: block;
      margin-top: 20px;
    }
  }
}

@media (max-width: 352px) {
  .header .showcase .chowcase-inside {
    grid-template-columns: 1fr;
    grid-template-rows: 600px 300px;
  }
}

label.floating {
  span {
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    transition: 0.3s ease-out;
    cursor: text;
  }

  input:is(:focus, :not(:invalid)) + span {
    top: 0;
    transform: translateY(0);
    font-size: 0.7em;
    user-select: none;
  }
}
