:root {
  font-size: 10px;
  --primary: #12100cb3;
  --secondary: #12100c;
  --gold: #ffae33;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: #f5f3f4;
  font-size: 1.8rem;
  color: var(--primary);
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.05rem;
}

.header .navbar .logo,
.header .navbar .logo img {
  height: 88px;
  width: 305px;
}

.header .navbar .nav-links {
  margin: 0;
  padding: 0 2rem 0 5rem;
  max-width: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .nav-links li {
  display: inline-block;
}

.header .navbar .nav-links li a {
  color: #12100cb3;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.header .navbar .nav-links li a:hover {
  color: #12100c;
}

.header .showcase .chowcase-inside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  overflow: hidden;
}

.header .showcase .chowcase-inside .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.header .showcase .chowcase-inside .left .texts .showcase-title {
  font-size: 5.5rem;
  color: var(--secondary);
}

.header .showcase .chowcase-inside .left .texts .showcase-text {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.header .showcase .chowcase-inside .left .texts .showcase-buttons .register {
  padding: 2rem 4rem;
  border-radius: 1.6rem;
  background-color: var(--gold);
  color: var(--secondary);
  font-size: 2.3rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .showcase .chowcase-inside .left .texts .showcase-buttons .register:hover {
  background-color: var(--secondary);
  color: var(--gold);
}

.header .showcase .chowcase-inside .left .texts .showcase-buttons .all-courses {
  padding: 2rem 4rem;
  border-radius: 1.6rem;
  font-size: 2.3rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .showcase .chowcase-inside .left .texts .showcase-buttons .all-courses:hover {
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header .showcase .chowcase-inside .right {
  position: relative;
  width: 100%;
  --percent: 100%;
  height: 50rem;
}

.header .showcase .chowcase-inside .right .background {
  height: calc(var(--percent) + 5rem);
  width: calc(var(--percent) + 24rem);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/showcase-bg.png");
  right: -90px;
  z-index: -1;
}

.connect-button {
  color: #fff;
  background-color: #12100c;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.connect-button:hover {
  color: #12100c;
  background-color: #ffae33;
}

.superiorities {
  margin-top: 10rem;
}

.superiorities .superiorities__inside-title {
  text-align: center;
  color: var(--secondary);
  font-weight: 700;
  font-size: 3.5rem;
}

.superiorities .superiorities__inside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.superiorities .superiorities__inside .superiorities__background-wrapper {
  position: relative;
  --percent-2: 100%;
}

.superiorities .superiorities__inside .superiorities__background-wrapper .background {
  position: absolute;
  background-image: url("../img/superiorities-bg.png");
  height: calc(var(--percent-2) + 6rem);
  width: calc(var(--percent-2));
  background-size: cover;
  background-repeat: no-repeat;
  top: -11rem;
  z-index: -1;
}

.superiorities .superiorities__inside .superiorities__inside--text {
  padding-top: 12rem;
  padding-bottom: 12rem;
  padding-left: 11.85rem;
  color: var(--secondary);
}

.superiorities .superiorities__inside .superiorities__inside--text > div:not(:first-child) {
  margin-top: 2rem;
}

.our-courses .our-courses__title {
  text-align: center;
  color: var(--secondary);
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.our-courses .our-courses__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-courses .our-courses__cards > div {
  padding: 4rem;
  background-color: #fff;
  border-radius: 2rem;
}

.our-courses .our-courses__cards > div h3 {
  text-align: center;
  color: var(--secondary);
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}

.our-courses .our-courses__cards > div span {
  display: block;
  padding: 0.7rem 2rem;
  background-color: #f9f9f9;
  border-radius: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-courses .our-courses__cards > div span img {
  width: 3rem;
}

.our-courses .our-courses__cards > div span:hover {
  background-color: #dfdddd;
  cursor: pointer;
}

.our-courses .our-courses__cards > div span p {
  display: inline-block;
  margin-left: 2rem;
  margin-bottom: 0;
  color: var(--secondary);
}

.our-courses .our-courses__cards > div span:not(:first-child) {
  margin-top: 1rem;
}

.partners {
  margin-top: 15rem;
}

.partners .partners__title {
  text-align: center;
  color: var(--secondary);
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.partners .partners__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 4rem;
}

.partners .partners__inner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners .partners__inner a img {
  max-height: 10rem;
  min-height: 6rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.partners .partners__inner a img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.register {
  margin-top: 20rem;
}

.register .register-inside {
  padding: 6rem;
  background-color: var(--gold);
  border-radius: 1.6rem;
}

.register .register-inside .register__title {
  text-align: center;
  color: var(--secondary);
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

.register .register-inside form {
  text-align: center;
}

.register .register-inside form div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.register .register-inside form div input,
.register .register-inside form div #course {
  padding: 2rem;
  border-radius: 1.6rem;
  border: none;
  outline: none;
}

.register .register-inside form .connect-button {
  margin-top: 4rem;
  display: inline-block;
  padding: 1.2rem 7rem;
  border: none;
}

.register .register-inside form .connect-button:hover {
  background-color: #fff;
  color: #12100c;
}

.footer {
  margin-top: 16.1rem;
  margin-bottom: 10rem;
}

.footer .footer-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-inside .numbers a {
  display: inline-block;
  font-weight: 700;
  color: var(--secondary);
}

.footer .footer-inside .numbers a:nth-child(2) {
  margin-right: 2rem;
  margin-left: 2rem;
}

.footer .footer-address {
  font-family: monospace;
}

.footer .bottom {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .bottom .icons a {
  display: inline-block;
  padding: 1rem;
}

.footer .bottom .icons a:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.footer .bottom .icons a img {
  height: 3rem;
  width: 3rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .bottom .icons a:not(:first-child) {
  margin-left: 2rem;
}

.logo-little {
  display: none;
}

.logo-footer-circle {
  display: none;
}

.menu-icon {
  display: none;
}

.nav-links-mobile {
  max-width: 300px;
  position: fixed;
  width: 80%;
  z-index: 10000;
  height: 100vh;
  padding-top: 50px;
  background-color: #fff;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-links-mobile li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 1rem;
  padding-bottom: 10px;
}

.nav-links-mobile li a {
  display: block;
}

.nav-links-mobile li:hover {
  background-color: #908e8e;
  cursor: pointer;
  color: #fff;
}

.nav-links-mobile li:not(:first-child) {
  margin-top: 1rem;
}

@media (max-width: 992px) {
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30px;
    position: absolute;
    z-index: 10000000;
    top: 7.9rem;
    right: 20px;
    cursor: pointer;
  }
  .menu-icon span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  .menu-icon .line-2 {
    margin: 5px 0;
    width: 50%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav-links-mobile.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-links-mobile.show + .menu-icon .line-2 {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .superiorities .superiorities__inside-title {
    margin-bottom: 40px;
  }
  .header .navbar .nav-links {
    display: none;
  }
  .header .navbar .connect-button {
    display: none;
  }
  .header .showcase .chowcase-inside {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .header .showcase .chowcase-inside .left .texts .showcase-title {
    font-size: 4rem;
  }
  .superiorities .superiorities__inside {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 300px 575px;
        grid-template-rows: 300px 575px;
  }
  .superiorities .superiorities__inside .superiorities__background-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .our-courses .our-courses__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .partners .partners__inner {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .superiorities .superiorities__inside .superiorities__inside--text {
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .register .register-inside form div {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .header .showcase .chowcase-inside .right .background {
    position: static;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  .superiorities
.superiorities__inside
.superiorities__background-wrapper
.background {
    position: static;
    height: 100% !important;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    top: 7.8rem;
  }
  .our-courses .our-courses__cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .logo-footer {
    display: none;
  }
  .logo-footer-circle {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 37px;
  }
  .footer .footer-inside {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .numbers {
    text-align: center;
  }
  .footer .bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .bottom span {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 40px;
    color: #12100cb3;
    font-weight: 700;
  }
  .footer .bottom a {
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .menu-icon {
    top: 5.5rem;
  }
  .superiorities .superiorities__inside {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 300px 500px;
        grid-template-rows: 300px 500px;
  }
  .header .showcase .chowcase-inside {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .register .register-inside .register__title {
    font-size: 2.5rem;
  }
  .register .register-inside form div input {
    padding: 1rem 2rem;
  }
  .register .register-inside {
    padding: 3rem;
  }
  .register .register-inside form .connect-button {
    padding: 1rem 5rem;
  }
  .partners .partners__inner {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 6rem;
  }
  .register,
  .all-courses {
    padding: 1rem 1.5rem !important;
    font-size: 1.6rem !important;
  }
  .header .showcase .chowcase-inside .left .texts .showcase-title {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .header .navbar .logo,
  .header .navbar .logo img {
    height: 41px;
    width: 206px;
  }
  .logo-large {
    display: none;
  }
  .logo-little {
    display: block;
  }
  .superiorities
.superiorities__inside
.superiorities__background-wrapper
.background {
    background-size: contain;
    height: calc(var(--percent-2) - 24rem);
    background-position: center;
  }
  .superiorities .superiorities__inside-title {
    font-size: 2.5rem !important;
  }
  .showcase-buttons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .showcase-buttons .register {
    display: block;
    margin: 0 !important;
  }
  .showcase-buttons .all-courses {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 352px) {
  .header .showcase .chowcase-inside {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 600px 300px;
        grid-template-rows: 600px 300px;
  }
}

label.floating span {
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: text;
}

label.floating input:is(:focus, :not(:invalid)) + span {
  top: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 0.7em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=index.css.map */